{% extends "../blank.html" %}
{% load static %}
{% block mainbody %}

<div>

    <div id="user-profile-3" class="user-profile row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="space"></div>

                <div class="tabbable">
                    <ul class="nav nav-tabs padding-16">
                        <li class="active">
                            <a data-toggle="tab" href="#edit-basic">
                                <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                                Basic Info
                            </a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#edit-password">
                                <i class="blue ace-icon fa fa-key bigger-125"></i>
                                Password
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content profile-edit-tab-content">
                        <div id="edit-basic" class="tab-pane in active">
                            <form class="form-horizontal" role="form" method="POST">
                                {% csrf_token %}
                                {% for field in userexteform %}
                                <div class="form-group">
                                    <div class="col-sm-3 control-label no-padding-right">
                                        {{ field.label_tag }}
                                        {{ field.errors }}
                                    </div>
                                    <div class="col-sm-9">
                                        {{ field }}
                                    </div>
                                </div>
                                {% endfor %}
                                <button class="btn btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Save
                                </button>
                                &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Reset
                            </button>
                            </form>
                        </div>

                        <div id="edit-password" class="tab-pane">
                            <form class="form-horizontal" role="form" method="POST" action="{% url 'mgmnt:passchang' %}">
                                {% csrf_token %}
                                {% for field in pchangeform %}
                                <div class="form-group">
                                    <div class="col-sm-3 control-label no-padding-right">
                                        {{ field.label_tag }}
                                        {{ field.errors }}
                                    </div>
                                    <div class="col-sm-9">
                                        {{ field }}
                                    </div>
                                </div>
                                {% endfor %}
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Save
                                    </button>

                                    &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        Reset
                                    </button>

                            </form>
                        </div>
                    </div>
                </div>
        </div><!-- /.span -->
    </div><!-- /.user-profile -->
</div>

{% endblock %}