{% extends "./temp_login.html" %}
{% comment %} This is the login page{% endcomment %}


{% block content %}
  <body>

     

                        
                       <h1 class="h3 text-center font-weight-normal text-white"><b class="txtorange">ADMIN </b> DASHBOARD</h1> 
                       {% if message %}
                       <p class="h6 text-center font-weight-normal text-white"> {{ message }} </p>
                       {% endif %}

                      

       
   
  </body>

{% endblock %}