{% extends "./temp_login.html" %}
{% comment %} This is the login page{% endcomment %}


{% block content %}
  <body>

     

                       
                       <form class="form-signin" action='authenticateuser' method='post'>
                       {% if message %}
                       <div class="alert alert-danger" role="alert">
                        {{ message }}
                        </div> 
                        {% endif %}
                       <h1 class="h3 text-center font-weight-normal text-white"><b class="txtorange">SCHOOL</b> Management</h1>

                         {% csrf_token %} 
                       <div class="form-signin formbg">
                                <div class="text-center mb-4">
                              
                                 <span class="glyphicon glyphicon-education form-control-feedback"></span><p class="text-center text-primary">Please Enter Your Information</p>
                              </div>

                              <div class="form-group">
                             

                                <div class="input-group">
               
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required="">
                                     <div class="input-group-append">
                                      <span class="input-group-text"><i class="glyphicon glyphicon-user"></i></span>
                                    </div>
                                </div>

                              </div>

                              <div class="form-group">
                                <div class="input-group">
               
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="">
                                     <div class="input-group-append">
                                      <span class="input-group-text"><i class="glyphicon glyphicon-lock"></i></span>
                                    </div>
                                </div>

                              </div>

                            
                              <button class="btn btn-primary float-right" type="submit">Login in</button>
                              <p class="mt-5 mb-3 text-muted text-center"></p>
                       </div>
                  
                </form>

       
   
  </body>

{% endblock %}