{% comment %} This is the layout template for showing contents before user login {% endcomment %}
{% load staticfiles %}
<!doctype html>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>school management login page</title>

    <!-- Bootstrap core CSS -->
    <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='{% static "css/floating-labels.css" %}' rel="stylesheet">
  </head>

            {% block content %} {% endblock %}

  

  </html>
